/* Importación de la fuente tipográfica a usar */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* Estilos del contenido dentro de body */
body{
   margin: 20px;
   padding: 0;
   background: #E5E5E5;
   font-family: 'Inter', sans-serif;
}


/* Estilos del encabezado */
.encabezado{
   position: absolute;
}
.encabezado .logo img{
   width: 50%;
   height: auto;
   margin-left: 44px;
}


/* Estilos del contenido principal de la página */
main{
   display: flex;
   flex-wrap: wrap;
}


/* Estilos del área correspondiente al encriptador */
.encriptador{
   color: #343A40;
   margin-left: 10%;
   margin-top: 110px;
   margin-right: 5%;
   width: 55%;
   height: 100%;
}
   /* Área de texto */
.encriptador form #texto{
   background: inherit;
   border: none;
   font-family: 'Inter', sans-serif;
   font-size: 32px;
   line-height: 150%;
   color: #0A3871;
   width: 100%;
   height: 47.5vh;
   overflow-y: scroll;
}
   /* Alerta del uso de mayúsculas y acentos */
.encriptador .panel-botones .alerta{
   display: block;
}
.encriptador .panel-botones .alerta i{
   vertical-align: middle;
}
.encriptador .panel-botones .alerta p{
   display: inline-block;
   font-size: 12px;
}
   /* Botones de encriptar y desencriptar */
.encriptador .panel-botones .botones{
   align-items: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
.btn-encriptar, .btn-desencriptar{
   cursor: pointer;
}
.encriptador .panel-botones .botones .btn-encriptar{
   font-size: 15px;
   padding: 15px;
   border-radius: 20px;
   color: #FFF;
   background: #0A3871;
   border: none;
   width: 49%;
   margin-right: 2%;
}
.encriptador .panel-botones .botones .btn-encriptar:hover{
   color: #EFF1FA;
   background: #072B61;
   transition: .2s ease;
}
.encriptador .panel-botones .botones .btn-desencriptar{
   font-size: 15px;
   padding: 15px;
   border-radius: 20px;
   color: #072B61;
   background: #EFF1FA;
   border: 1px solid #072B61;
   width: 49%;
}
.encriptador .panel-botones .botones .btn-desencriptar:hover{
   color: #0A3871;
   background: #FFF;
   border: 1px solid #0A3871;
   transition: .2s ease;
}


/* Estilos del área correspondiente a los resultados */
.resultado{
   background: #FFF;
   width: 20%;
   height: 80vh;
   box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
   padding: 32px;
   border-radius: 32px;
   color: #343A40;
   text-align: center;
   overflow-y: scroll;
   display: flex;
}
   /* Estilos del contenido predeterminado para el área de resultados */
.resultado #transcripcion{
   align-self: center;
   margin: 0 auto;
}
#transcripcion img{
   width: 100%;
   height: auto;
}
#transcripcion h3{
   font-size: 24px;
   margin-bottom: 16px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 120%;
   text-align: center;
}
#transcripcion p{
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   text-align: center;
}
   /* Estilos del contenido con los resultados */
#encriptado{
   width: 100%;
}
#encriptado .resultadoEncriptacion{
   background: #EFF1FA;
   border-radius: 10px;
   margin-bottom: 10px;
   border: .5px solid #072B61;
}
#encriptado .resultadoEncriptacion p{
   word-break: break-word;
   text-align: justify;
   font-size: 15px;
   display: block;
   padding: 10px 15px;
}
#encriptado .resultadoEncriptacion i{
   font-size: 30px;
   display: block;
   padding: 5px;
   border-end-start-radius: 10px;
   border-end-end-radius: 10px;
   color: #FFF;
   background: #072B61;
   border-top: .5px solid #072B61;
   cursor: pointer;
}
#encriptado .resultadoEncriptacion i:hover{
   color: #343A40;
   background: #FFF;
   border-top: .5px solid #343A40;
   transition: .3s ease-out;
}
#encriptado .limpiar{
   font-size: 15px;
   padding: 15px;
   border-radius: 10px;
   color: #072B61;
   background: #EFF1FA;
   border: 1px solid #072B61;
   width: 100%;
   margin-bottom: 32px;
   cursor: pointer;
}
#encriptado .limpiar:hover{
   color: #0A3871;
   background: #FFF;
   border: 1px solid #0A3871;
   transition: .2s ease;
}


/* Estilos del pie de página */
.copy-completo p a{
   color: #072B61;
   background: linear-gradient(90deg, green, teal, blue);
   background-clip: text;
   -webkit-background-clip: text;
}
.copy-completo p a:hover{
   color: transparent;
   transition: .2s ease;
}
.copy-responsive{
   display: none;
}


/* Ocultar las barras de desplazamiento */
::-webkit-scrollbar{
   display: none;
}


/* Ocultar o mostrar la transcripción */
.ocultar{
   display: none;
}
.mostrar{
   display: block;
}

/* Responsive para dispositivos con hasta 800px de ancho */
@media only screen and (max-device-width: 800px) {
   /* Estilos del logo del encabezado */
   .encabezado .logo img{
      width: 80%;
      height: auto;
      margin: 0;
   }


   /* Estilos del área correspondiente al encriptador */
   .encriptador{
      color: #343A40;
      margin: 80px 0 30px 0;
      width: 100%;
      height: 100%;
   }


   /* Estilos del área correspondiente al resultado */
   .resultado{
      height: 250px;
      width: 100%;
   }
   .resultado img{
      display: none;
   }


   /* Estilos del pie de página */
   .copy-responsive{
      display: block;
   }
   .copy-responsive p a{
      color: #072B61;
      background: linear-gradient(90deg, green, teal, blue);
      background-clip: text;
      -webkit-background-clip: text;
   }
   .copy-responsive p a:hover{
      color: transparent;
      transition: .2s ease;
   }
   .copy-completo{
      display: none;
   }
}


/* Responsive para dispositivos con hasta 400px de ancho */
@media only screen and (max-device-width: 400px) {
   /* Estilos de los botones para encriptar y desencriptar */
   .encriptador .panel-botones .botones .btn-encriptar{
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
   }
   .encriptador .panel-botones .botones .btn-desencriptar{
      width: 100%;
   }
}
